@using MyWebApp.Models
@model Post

<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>

<div class="container text-center bg-light mt-5 mb-5"><h1>@ViewBag.Title</h1></div>


<form method="post" class="container">
    <div>
        <label asp-for="Title">Title</label>
        <input class="form-control" asp-for="Title" value="@Model.Title"></>

        <label class="mt-3" asp-for="Category">Category</label>
        <select class="form-control" asp-for="Category" asp-items="@Html.GetEnumSelectList<Category>()"></select>

        <label class="mt-3" asp-for="ShortDescription">ShortDescription</label>
        <textarea class="form-control mb-2 " style="height: 100px" asp-for="ShortDescription" value="@Model.ShortDescription"></textarea>
    </div>


    <label class="mt-2" asp-for="HtmlContent">Content</label>
    <textarea asp-for="HtmlContent" id="summernote"></textarea>

    <div class="container text-center mt-3 mb-5">
        <a class="btn btn-outline-danger float-left " asp-action="PostList" asp-controller="Blog">Porzuć</a>
        <input class="btn btn-outline-success" type="submit" name="save" value="@ViewBag.ButtonTitle" />

    </div>
</form>


<script>
    $('#summernote').summernote({
        placeholder: 'Write something ;) ',
        tabsize: 2,
        height: 500
    });
</script>

