@{
    @using MyWebApp.Models
    @model Post

    Comment comment = new Comment();
    comment.NickName = "test";
    comment.Text = "asdf";
}




<div class="alert alert-success" role="alert">
    <h1 class="container-fluid text-center " style="word-wrap: break-word;">@Model.Title</h1>
    <h6>Utworzono: @Model.Created</h6>
</div>


<div class="container bg-light">
    <div style=" text-align: justify;    max-width: 100%;
    max-height: 100%; word-wrap: break-word;">@Html.Raw(Model.HtmlContent)</div>
</div>

@foreach (Comment c in Model.Comments)
{
    <div class="alert  alert-secondary" role="alert">
        <h6 class="container-fluid text-left " style="word-wrap: break-word;">@c.NickName pisze:</h6>
        <h6 class="container-fluid text-left " style="word-wrap: break-word;">@c.Text</h6>
        <form asp-controller="Blog" asp-action="RemoveComment" asp-route-commentId="@c.Id" asp-route-postId="@Model.Id" method="post">
            <button type="submit" class="btn btn-primary">Usuń</button>
        </form>
    </div>
}


<form method="post" class="container"  asp-controller="Blog" asp-action="AddComment" asp-route-comment="@comment" asp-route-postId="@this.Model.Id">

    <div>
        <label>Nick</label>
        <input class="form-control" asp-for="@comment.NickName" value="@comment.NickName"></>

        <label class="mt-3">Text</label>
            <textarea class="form-control mb-2 " style="height: 100px" asp-for="@comment.Text" value="@comment.Text"></textarea>
    </div>
    <div class="container text-center mt-3 mb-5">
        <input class="btn btn-outline-success" type="submit" name="save" value="Dodaj komentarz" />
    </div>
</form>






<div class="container text-center mt-4 mb-4">
    <a class="btn btn-outline-info mb-4" asp-action="PostList" asp-controller="Blog">Powrót do listy</a>
</div>

