@using MyWebApp.Models
@model List<Post>




<div>
    <div class="container  bg-light text-dark col-8 offset-2">
        <div class="container text-center mt-5"><a class="h1">Mini blog :)</a></div>
        <div class="container text-center mb-5 mt-2"><a class="h6">Tutaj poczytasz na tematy które mnie interesują i którymi chcę się podzielić z innymi</a></div>
    </div>

    <div class="container">

        @foreach (Post p in Model)
        {
            <div class="container bg-light mt-4 rounded">
                <div class="container text-center"><a asp-action="Post" asp-route-id="@p.Id" class="h1">@p.Title</a></div>

                <div class="container text-center text-justify h5  text-secondary">
                    <a>@p.ShortDescription</a>
                </div>
                
                <div class="container text-center h6">
                    <a>Utworzony: @p.Created</a>
                </div>

                <div class="container text-right">
                    <a class="btn btn-primary mb-2" asp-action="Post" asp-route-id="@p.Id">Read more</a>
                    <a class="btn btn-warning mb-2" asp-action="Edit" asp-route-id="@p.Id">Edit</a>
                    <a class="btn btn-warning mb-2" asp-controller="Blog" asp-action="Remove" asp-route-id="@p.Id">Remove</a>
                </div>
            </div>
        }

    </div>
    <div class="container text-center mt-3 mb-3"> <a class="btn btn-success " asp-action="Create">Create new post</a></div>
</div>