@{
    @using MyWebApp.Models
    @model Post

    Comment cmt = new Comment();
    cmt.PostId = this.Model.Id;
}




<div class="alert alert-success" role="alert">
    <h1 class="container-fluid text-center " style="word-wrap: break-word;">@Model.Title</h1>
    <h6>Utworzono: @Model.Created</h6>
</div>


<div class="container bg-light">
    <div style=" text-align: justify;    max-width: 100%;
    max-height: 100%; word-wrap: break-word;">@Html.Raw(Model.HtmlContent)</div>
</div>

@foreach (Comment c in Model.Comments)
{
<div class="alert  alert-secondary" role="alert">
    <h6 class="container-fluid text-left " style="word-wrap: break-word;">@c.NickName pisze:</h6>
    <h6 class="container-fluid text-left " style="word-wrap: break-word;">@c.Text</h6>
    <form asp-controller="Blog" asp-action="RemoveComment" asp-route-Comment="@c" method="post">
        <button asp-route-Comment="@c" type="submit" class="btn btn-primary">Yes - Delete this User</button>
    </form>
</div>
}


<form method="post" class="container" name="Comment">

    <div>
        <label>Nick</label>
        <input class="form-control" asp-for="@cmt.NickName" value="@cmt.NickName"></>
        @{ cmt.PostId = Model.Id;}
        <label class="mt-3">Text</label>
        <textarea class="form-control mb-2 " style="height: 100px" asp-for="@cmt.Text" value="@cmt.Text"></textarea>

        <textarea hidden class="form-control mb-2 " style="height: 100px" asp-for="@cmt.PostId" value="@Model.Id"></textarea>
    </div>
    <div class="container text-center mt-3 mb-5">
        <input class="btn btn-outline-success" type="submit" name="save" value="Dodaj komentarz" />
    </div>
</form>



<div class="container text-center mt-4 mb-4">
    <a class="btn btn-outline-info mb-4" asp-action="PostList" asp-controller="Blog">Powrót do listy</a>
</div>

