@{
    @using MyWebApp.Models
    @model List<Post>
    Category category = Category.Wszystkie;
}

<link href="~/node_modules/other/layout/styles/PostList.css" rel="stylesheet" />

<div>
    <div>
        <div class="container text-center mt-3">
            <h1 class="font-weight-bold">Moje projekty</h1>
        </div>
    </div>

    <form method="post" class="container bg-transparent  text-center" asp-controller="Projects" asp-action="Filter" asp-route-category="@category">
        <label class=" font-weight-bold mt-2">Wybierz kategorię</label>
        <select asp-for="@category" asp-items="Html.GetEnumSelectList<Category>()" onchange="this.form.submit()"></select>
    </form>
    <p></p>
    <div class="container-fluid bg-3 text-center">
        <div class="row">
            @foreach (Post p in Model)
            {
                if ((/*!p.IsProject &&*/ p.IsPublished) || (User.Identity.IsAuthenticated))
                {
                    <div class="col-lg-4 col-sm-12 col-md-6  mt-2 mb-2">
                        <div class="thumbnail">
                            <div class="img-responsive" style="opacity:1; height:300px; width:300px; border:0px;">
                                <a asp-action="Post" asp-route-id="@p.Id" class="caption text-dark text-center font-weight-bold text-info h2 " style="word-wrap:break-word; background-color:#ffffff; padding:0px;  opacity:0.9;"> @Html.Raw(p.Title)</a>
                                <div style="opacity:1; border:0px;"> @Html.Raw(p.BackgroundContent)</div>
                            </div>

                        </div>

                        <h5>@p.ShortDescription</h5>
                        <h6>Utworzony: @p.Created</h6>
                        <p />
                        <h6>Kategoria: @p.Category</h6>
                        <p />
                        <a class="btn  btn-primary font-weight-light" style="justify-content:center; text-align:right" asp-action="Post" asp-route-id="@p.Id">Czytaj dalej</a>
                        <p />
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="text-center btn btn-primary font-weight-light mr-2 " asp-action="Edit" asp-controller="Projects" asp-route-id="@p.Id">Edytuj</a>
                            <button class="text-center btn btn-danger font-weight-light mr-2" data-toggle="modal" data-target="#@p.Id.ToString().Insert(0, "c")">Usuń</button>
                        }
                        <br />
                        <p />
                    </div>
                    <div class="modal fade" id="@p.Id.ToString().Insert(0, "c")" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Uwaga!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body h5 ">
                                    Czy napewno chcesz usunąć wpis "@p.Title"
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success  font-weight-light" data-dismiss="modal">Anuluj</button>
                                    <a class="btn btn-danger font-weight-light" asp-controller="Projects" asp-action="Remove" asp-route-id="@p.Id">Usuń</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container text-center mt-3 mb-3"> <a class="btn btn-success  font-weight-light" asp-controller="Projects" asp-action="Create">Stwórz nowy post</a></div>
    }
    <div class="mt-4"></div>
</div>