@{
    @using MyWebApp.Models
    @model Post
    Comment comment = new Comment();
}




<div class="container mt-3">
    <h1 class="text-center font-weight-light" style="word-wrap: break-word;">@Model.Title</h1>
    <h6 class="text-center  font-weight-light text-success h-75">Utworzono: @Model.Created</h6>
</div>

<div class="container">

    <div class="container mt-4"  >
        <div style="padding-top:15px; padding-bottom:5px">
            <div style="text-align: justify; max-width: 100%; max-height: 100%; word-wrap: break-word;">
                @Html.Raw(Model.HtmlContent)
            </div>
        </div>
    </div>
    <div class="form-group container">
        <label class=" font-weight-light mt-4 " for="Autor">Wasze komentarze</label>
    </div>
    <div class="mt-3">
        @foreach (Comment c in Model.Comments)
        {
            <div class="container text-left   mt-2 mb-2"  style="border-radius: 25px 25px 0px 25px;  background-color: #222838; ">
                <div style="padding-top:15px; padding-bottom:5px">
                    <h6 class="text-left text-secondary  font-weight-light " style="word-wrap: break-word; ">@c.NickName pisze:</h6>
                </div>
                <div style=" padding-bottom:15px">
                    <h6 class="text-left mb-3  font-weight-light  " style="word-wrap: break-word;">@c.Text</h6>
                </div>
            </div>
        }
    </div>


    <form method="post" class="container bg-transparent "  asp-controller="Projects" asp-action="AddComment" asp-route-comment="@comment" asp-route-postId="@this.Model.Id">

        <label class=" font-weight-light mt-2" for="Autor">Dodaj komentarz</label>
        <div class="form-group">
            <label class=" font-weight-light " for="Autor">Autor</label>
            <input class="form-control" id="Autor" placeholder="Autor" asp-for="@comment.NickName" value="@comment.NickName"></>
        </div>

        <div class="form-group">
            <label class=" font-weight-light " for="comment">Komentarz</label>
            <textarea class="form-control" placeholder="Wpisz swój komentarz" id="comment" style="height: 100px" asp-for="@comment.Text" value="@comment.Text"></textarea>
        </div>

        <input class="btn btn-outline-success font-weight-light mb-3" type="submit" name="save" value="Dodaj" />
    </form>






    <div class="container text-center mt-2 mb-2">
        <a class="btn btn-outline-info  font-weight-light  mb-4" asp-action="ProjectsList" asp-controller="Projects">Powrót do listy</a>
    </div>

</div>

