@{
    Layout = null;

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>


<body>
    <ul>
        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
        <li>@Html.ActionLink("O mnie", "About", "Home")</li>
        <li>@Html.ActionLink("Moje projekty", "Dev", "Home")</li>
    </ul>


    <div>
        @RenderBody()
    </div>
</body>
</html>
