@{
    Layout = null;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title >@ViewBag.Title</title>

</head>


<body>
    <div class="container">  Test</div>
    <ul>
        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
        <li>@Html.ActionLink("O mnie", "About", "Home")</li>
        <li>@Html.ActionLink("Moje projekty", "Dev", "Home")</li>
        <li>@Html.ActionLink("Blog", "PostList", "Blog")</li>
    </ul>


    <div>
        @RenderBody()
    </div>

</body>
</html>
