@{
    Layout = null;

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>


<body>


    <ul>
        <h style="color: #ea464b; font-size:25px; text-align: match-parent;margin-bottom:0px; padding-bottom:0px;">Łukasz Adach</h>
        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
        <li>@Html.ActionLink("O mnie", "About", "Home")</li>
        <li>@Html.ActionLink("Moje projekty", "Dev", "Home")</li>
        <li>@Html.ActionLink("Blog", "Blog", "Home")</li>
    </ul>


    <div>
        @RenderBody()
    </div>
</body>
</html>
